 body {
     background-color: black;
 }

 h2 {
     color: white;
     background-color: dimgray;
     font-size: xx-large;
     text-align: center;
     width: 65vw;
     height: 12vh;
     padding: 5vh 1vw;
     margin: 5vh 2.5vw;
 }

 h1 {
     color: white;
     font-size: xxx-large;
     margin: 5vh 2.5vw;
     text-align: center;
 }

 #content-area-1 {
    width: 100px;
    height: 100px;
    background-color: coral;
}

#content-area-2 {
    background-color: darkcyan;
    width: 100px;
    height: 100px;
}

.pbj-recipe {
    width: 65vw;
    height: 8vh;
    padding: 1vh 1vw;
    margin: 2.5vh 2.5vw;
}
.bread {
    background-color: #c68958;
}

.peanut {
    background-color: #ffb75f;
}

.jelly {
    background-color: blueviolet;
}

.recipe-container {
    border: .25em solid white;
    width: fit-content;
    margin: 10vh auto;
    padding: 0%;
}