* {
    box-sizing: border-box;
}
nav {
    background: #333333;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana, sans-serif;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    background: black;
}
nav ul li:nth-child(4) {
    margin-left: auto;
}
.flex-container {
    display: flex;
    height: 20vh;
    width: 70vw;
    margin: 10vh auto;
    background-color: #848487;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
}
.flex-item {
    background-color: rebeccapurple;
    color: antiquewhite;
    padding: .5em;
}
body {
    background: orange;
    margin: 0;
    font-family: "Nunito Sans", SansSerif;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw;
    margin: 4em auto;
    background-color: darkgoldenrod;
    padding: 2em;
}
.card {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.circle {
    background-color: slateblue;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
}
img {
    border-radius: 120px;
    width: 120px;
}
.circle h1 {
    font-family: Roboto, sans-serif;
}
i {
    color: grey;
}
.text-section {
    position: relative;
    bottom: 1.5em;
}
.icons {
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}
.icons i {
    font-size: 2.2em;
}
footer {
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo-div {
    left: 0;
    flex-grow: 2;
}
.logo-div h1 {
    text-align: left;
}
.container {
    min-width: 768px;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    max-height: 40vh;
}
h1 {
    font-size: 2em;
}
footer h1 {
    margin: 0;
    font-weight: bolder;
}
h5 {
    color: white;
    font-weight: 200;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer .icon-wrapper:hover,
footer .top-footer a:hover {
    color: black;
    background: white;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 14px;
}
footer .container {
    padding: 4em 0;
    height: 30em;
}
.icon-wrapper {
    border: 2px solid grey;
    border-radius: 2.4em;
    height: 2.4em;
    width: 2.4em;
}
footer .top-footer a {
    text-transform: uppercase;
    font-weight: 200;
}
footer .bottom-footer a {
    margin: .3em;
}
.line {
    width: 100%;
    height: 1px;
    background: grey;
    margin: 1em;
}
.social-media-links {
    display: flex;
    justify-content: flex-end;
}
.page-wrap {
    position: relative;
    min-height: 100vh;
    padding-bottom: 40vh;
    /*margin: 20vh 0 110vh 0;*/
}