@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav {
    font-family: 'Work Sans', sans-serif;
    background-color: #C1C1C1;
    color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
    min-width: 600px;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding:  1.95em .5em;
}
.nav a:hover {
    color: blue;
}
.nav-account {
    justify-content: flex-end;
}

.nav-site {
    justify-content: flex-start;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo a {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
    text-align: center;
}