/* ELEMENT SELECTORS */
h1 {
    color: #FF0000
}

main th {
    color: blue;
}

/* CLASS SELECTORS */
.orange-bg {
    background-color: orange;
}
/* children of elements with orange-bg class: */
.orange-bg li {
    font-family: Helvetica, sans-serif;
}

.underline {
    text-decoration: underline;
}

/* ID SELECTORS */
#blue-bg {
    background-color: blue;
}

#back-to-top {
    color: purple;
}
/* h2 elements of parent element with ID parent-div */
#parent-div h2 {
    color: lightblue;
}
/* Direct child descendent selector: only selects specific
elements that are direct child of specified ID/class
syntax: #id>element {}
 */
#type>h2 {
    text-decoration: underline;
}
/* Direct child descendent selector
syntax: .class>element {}
 */
.table-info>td {
    text-decoration: underline;
}

.container {
    color: rebeccapurple;
}

/* this is "more specific" than the original class styling, so it overrides base style above */
.container>h3 {
    color: goldenrod;
}
/* Combination selector:
 syntax: element.class | class.class
 */
h1.orange-bg {
    text-decoration: overline underline;
}

a:link {
    color: navajowhite;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: limegreen;
}

a:active {
    color: coral;
}

.description {
    text-decoration: underline wavy navy;
    text-align: justify;
    text-indent: 3em;
}

.pokemon-name {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: lighter;
    font-size: 5em;
}

body {
    background-color: yellow;
    background-image: url("/img/pokeball.png");
    background-repeat: repeat-y;
    background-position-x: center;
}

.type-list {
    list-style: inside;
}