@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Zen+Antique+Soft&display=swap');
/*font-family: 'Fira Sans', sans-serif;*/
/*font-family: 'Zen Antique Soft', serif;*/
* {
    --color-acc: rebeccapurple;
}
h1,h2,h3,h4 {
    font-family: 'Zen Antique Soft', serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
.color-acc {
    color: var(--color-acc);
}
p {
    font-family: 'Fira Sans', sans-serif;
}
p.sec-title {
    font-size: 1.15em;
}
ul.minimal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
hr {
    height: 2px;
    background-color: var(--color-acc);
}